<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title> - 文章列表</title>
    <meta name="keywords" content="">
    <meta name="description" content="">

    <link rel="shortcut icon" href="favicon.ico"> <link href="/css/bootstrap.min.css?v=3.3.6" rel="stylesheet">
    <link href="/css/font-awesome.css?v=4.4.0" rel="stylesheet">

    <link href="/css/animate.css" rel="stylesheet">
    <link href="/css/style.css?v=4.1.0" rel="stylesheet">

</head>

<body class="gray-bg">
    <div class="wrapper wrapper-content  animated fadeInRight blog">
        <div class="row">
            <!--判断有没有文章-->
            <% if(isshow==1){ %>
                <p class="alert alert-danger">还没有文章哦，速度去添加吧！！！</p>
            <%  }else{ %>
                <div class="col-lg-4">
                    <% topicData.forEach(function(topic){ %>
                    <div class="ibox">
                        <div class="ibox-content">
                            <a href="/topic/article?_id=<%= topic._id %>" class="btn-link">
                                <h2>
                                    <%= topic.tName %>
                                </h2>
                            </a>
                            <div class="small m-b-xs">
                                <strong><%= topic.user.uname %></strong> 
                                    <span class="text-muted">
                                        <i class="fa fa-clock-o">
                                        </i>
                                       <% var times = new Date() - topic.createTime;
                                        console.log(times);
                                        var timet;
                                        if(Math.floor(times/1000)){
                                          timet = '刚刚';
                                        }
                                        if(Math.floor(times/1000%60)){
                                           timet = Math.floor(times/1000%60)+'秒之前';
                                        }
                                        if(Math.floor(times/1000/60%60)){
                                          timet = Math.floor(times/1000/60%60)+'分之前';
                                        }
                                        if(Math.floor(times/1000/60/60%24)){
                                           timet = Math.floor(times/1000/60/60%24)+'时之前';
                                        }
                                        if(Math.floor(times/1000/60/60/24)){
                                          timet = Math.floor(times/1000/60/60/24)+'天之前';
                                        }

                                        %>
                                       <%= timet %> 
                                    </span>
                            </div>
                            <p>
                                <%= topic.tj %>
                            </p>
                            <div class="row">
                                <div class="col-md-6">
                                    <h5>标签：</h5>
                                    <button class="btn btn-primary btn-xs" type="button"><%= topic.tag %></button>
                                    <% if(topic.isshow==1){ %>
                                        <button class="btn btn-warning btn-xs" type="button">已设置轮播</button>
                                   <% } %>
                                   <% if(topic.isshow==1){ %>
                                        <button class="btn btn-success btn-xs" type="button">已设置推荐</button>
                                   <% } %>
                                    
                                </div>
                                <div class="col-md-6">
                                    <div class="small text-right">
                                        <h5>状态：</h5>
                                        <div> <i class="fa fa-comments-o"> </i> 0评论 </div>
                                        <i class="fa fa-eye"> </i> <%= topic.visitNum %> 浏览
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <%  }) %>
                </div>
            <%  } %>
            <% if(page>1){ %>
            <a href="/topic/blog/?page=<%= parseInt(page)-1 %>" class="btn btn-block btn-outline btn-primary">上一页</a>
            <% } %>
            <% if(page<pageMax){ %>
            <a href="/topic/blog/?page=<%= parseInt(page)+1 %>" class="btn btn-block btn-outline btn-primary">下一页</a>
            <% } %>
        </div>
    </div>

    <!-- 全局js -->
    <script src="/js/jquery.min.js?v=2.1.4"></script>
    <script src="/js/bootstrap.min.js?v=3.3.6"></script>

    <!-- 自定义js -->
    <script src="/js/content.js?v=1.0.0"></script>


    
    

</body>

</html>
